.en A Chinese Finnish City Councilor, Jenni Chen-Ye, has been led from the Vantaa City Council group of the moderate-right National Coalition Party (NCP) after her ties to the Chinese communist party were discovered.
.ch 芬蘭中間偏右國家聯合黨（NCP）萬塔市（Vantaa）市議會黨團最近將華裔市議員陳燕妮逐出黨團，因為她與中國共產黨關係密切。
.en “The decision was unanimous,” NCP Vantaa council group chair Sakari Rokkana said, stating that Chen-Ye failed to disclose her role in a CCP-backed organization.
.ch 萬塔市議會國家聯合黨黨團總召表示，黨團無異議通過該決議，並指出陳燕妮之前並未透露自己在中共支持的組織中扮演的角色。
.en Chen-Ye became a member of the Vantaa City Council in 2017 while maintaining an role in the Finland Association for Promoting Peaceful Reunification of China (FAPPRC). 
.ch 陳燕妮於2017年當選萬塔市議會議員，同時活躍於芬蘭中國和平統一促進會（FAPPRC），
.en The organization promotes  the unification of China and Taiwan in Finland.
.ch 該組織的宗旨是在芬蘭促進中國和台灣統一，
.en A Chinese Finnish City Councilor, Jenni Chen-Ye, has been led from the Vantaa City Council group of the moderate-right National Coalition Party (NCP) after her ties to the Chinese communist party were discovered.
.ch 芬蘭中間偏右國家聯合黨（NCP）萬塔市（Vantaa）市議會黨團最近將華裔市議員陳燕妮逐出黨團，因為她與中國共產黨關係密切。
.en “The decision was unanimous,” NCP Vantaa council group chair Sakari Rokkana said, stating that Chen-Ye failed to disclose her role in a CCP-backed organization.