ul.input-list.is-class
	li.input-item
		input(type='checkbox' id='class1' checked)
		label(for='class1') 政治國際
	li.input-item
		input(type='checkbox' id='class2' checked)
		label(for='class2') 產業科技
	li.input-item
		input(type='checkbox' id='class3' checked)
		label(for='class3') 財經社會
	li.input-item
		input(type='checkbox' id='class4' checked)
		label(for='class4') 淺談職場
	li.input-item
		input(type='checkbox' id='class5' checked)
		label(for='class5') 生活消費
	li.input-item
		input(type='checkbox' id='class6' checked)
		label(for='class6') 文化藝術
	li.input-item
		input(type='checkbox' id='class7' checked)
		label(for='class7') 旅遊娛樂
	li.input-item
		input(type='checkbox' id='class8' checked)
		label(for='class8') 運動健康
	li.input-item
		input(type='checkbox' id='class9' checked)
		label(for='class9') 日常對話
	li.input-item
		input(type='checkbox' id='class10' checked)
		label(for='class10') 寫作賞析