ul.input-list
	li.input-item
		input(type='radio' id='historyLevel1' name='historyLevel')
		label(for='historyLevel1') A1
	li.input-item
		input(type='radio' id='historyLevel2' name='historyLevel' checked)
		label(for='historyLevel2') A2
	li.input-item
		input(type='radio' id='historyLevel3' name='historyLevel')
		label(for='historyLevel3') B1
	li.input-item
		input(type='radio' id='historyLevel4' name='historyLevel')
		label(for='historyLevel4') B2
	li.input-item
		input(type='radio' id='historyLevel5' name='historyLevel')
		label(for='historyLevel5') C1