ul.input-list.is-class
	li.input-item
		input(type='radio' name='historyClass' id='historyClass0' checked)
		label(for='historyClass0') 全部教室
	li.input-item
		input(type='radio' name='historyClass' id='historyClass1')
		label(for='historyClass1') 正規教室
	li.input-item
		input(type='radio' name='historyClass' id='historyClass2')
		label(for='historyClass2') 文法進修教室
	li.input-item
		input(type='radio' name='historyClass' id='historyClass3')
		label(for='historyClass3') 商務教室
	li.input-item
		input(type='radio' name='historyClass' id='historyClass4')
		label(for='historyClass4') 寫作教室
	li.input-item
		input(type='radio' name='historyClass' id='historyClass5')
		label(for='historyClass5') 商務寫作教室
	li.input-item
		input(type='radio' name='historyClass' id='historyClass6')
		label(for='historyClass6') 檢定班
	li.input-item
		input(type='radio' name='historyClass' id='historyClass7')
		label(for='historyClass7') 面談室
	li.input-item
		input(type='radio' name='historyClass' id='historyClass8')
		label(for='historyClass8') 生活會話教室
	li.input-item
		input(type='radio' name='historyClass' id='historyClass9')
		label(for='historyClass9') 咖啡廳
	li.input-item
		input(type='radio' name='historyClass' id='historyClass10')
		label(for='historyClass10') 脫口說英語
	li.input-item
		input(type='radio' name='historyClass' id='historyClass11')
		label(for='historyClass11') 語感教室