li.item.is-c1
	.item-img(style= 'background-image: url(./images/demo/2.jpg)')
	.box1
		.box
			.left
				.sort 曲風一
			.right
				.date 2020/01/30
		.box
			.title memories
		.box
			.left
				.sort Maroon 5
	.item-side
	.icon-test
		|歡唱
		.icon-check
li.item.is-c2
	.item-img(style= 'background-image: url(./images/demo/1.jpg)')
	.box1
		.box
			.left
				.sort 曲風二
			.right
				.date 2020/01/29
		.box
			.title CHEAP THRILLS - SIA - Played on a BICYCLE - KHS & Kina Grannis Cover
		.box
			.left
				.sort KHS & Kina Grannis
	.item-side
li.item.is-c3
	.item-img(style= 'background-image: url(./images/demo/3.jpg)')
	.box1
		.box
			.left
				.sort 曲風三
			.right
				.date 2020/01/29
		.box
			.title This Is The New Year
		.box
			.left
				.sort A Great Big World
	.item-side
li.item.is-c4
	.item-img(style= 'background-image: url(./images/demo/4.jpg)')
	.box1
		.box
			.left
				.sort 曲風四
			.right
				.date 2020/01/29
		.box
			.title Don’t Download This Song
		.box
			.left
				.sort “Weird Al” Yankovic
	.item-side