li.item.is-c3
	.item-img(style= 'background-image: url(./images/demo/3.jpg)')
	.box1
		.box
			.left
				.sort 政治國際
				.stars
					.icon-star
					.icon-star-empty
					.icon-star-empty
			.right
				.date 2020/01/30
				//- .time 14:00
		.box
			.title 
				.level A2
				|享譽全球表演在家看
	.item-side
	.icon-test
		|精讀
		.icon-check
li.item.is-c6
	.item-img(style= 'background-image: url(./images/demo/2.jpg)')
	.box1
		.box
			.left
				.sort 文化藝術
				.stars
					.icon-star
					.icon-star-empty
					.icon-star-empty
			.right
				.date 2020/01/29
				//- .time 14:00
		.box
			.title 
				.level B1
				|享譽全球表演在家看享譽全球表演在家看享譽全球表演在家看享譽全球表演在家看
	.item-side
	//.icon-test
		|精讀
		.icon-check