ul.input-list
	li.input-item
		input(type='checkbox' id='level1' checked)
		label(for='level1') A1
	li.input-item
		input(type='checkbox' id='level2' checked)
		label(for='level2') A2
	li.input-item
		input(type='checkbox' id='level3' checked)
		label(for='level3') B1
	li.input-item
		input(type='checkbox' id='level4' checked)
		label(for='level4') B2
	li.input-item
		input(type='checkbox' id='level5' checked)
		label(for='level5') C1