// 「系列名稱」於資料庫的欄位名字 = Class_group3 
.tmp-select-item(data-value='1') KK音標練發音
.tmp-select-item(data-value='1') 子音正音班
.tmp-select-item(data-value='1') 語感教室
.tmp-select-item(data-value='1') 多益聽力
.tmp-select-item(data-value='1') 職場英文寫作 中階
.tmp-select-item(data-value='1') 電郵英文入門
.tmp-select-item(data-value='1') 商務寫作專題 入門