//- -var env = 'dev'
//- if ( env === 'dev' )
//- 	-var link = './assets/'
//- else
//- 	-var link = './vendor/'

//- <!DOCTYPE html>
//- html(lang='en')
//- 	head
//- 		meta(charset='UTF-8')
//- 		meta(name='viewport', content='width=device-width, initial-scale=1.0')
//- 		link(type='image/ico' href='./images/favicon.ico' rel='icon')
//- 		title sa system
//- 		link(rel='stylesheet', href= link + 'plugins/datepicker_bs/datepicker.css')
//- 		link(rel='stylesheet', href= link + 'plugins/perfect-scrollbar-master/perfect-scrollbar.css')
//- 		link(rel='stylesheet', href='./css/sasys.css')



<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title search Musicbox
		link(href='./css/musicbox.css', rel='stylesheet', type='text/css')
		link(href='../assets/plugins/perfect-scrollbar-master/perfect-scrollbar.css', rel='stylesheet', type='text/css')
		link(href= '../assets/plugins/datepicker_bs/datepicker.css', rel='stylesheet', type='text/css')
		//-
		script(src='../assets/plugins/jquery/jquery-1.12.4-min.js')
		script(src='./js/select.js')
		script(src='./js/musicbox.js')
		script(src='../assets/plugins/perfect-scrollbar-master/perfect-scrollbar.min.js')
		script(src='../assets/plugins/datepicker_bs/bootstrap-datepicker.js')
		
	body
		#wrapperMain
			aside
				section#blockLabel
					.label-list
						a.label-item(href='') 課程
						a.label-item(href='') 文章
						a.label-item(href='') 專欄
						a.label-item(href='') 部落格
						a.label-item(href='') 童話
						.label-item.active(href='') 音樂
						//- a.label-item(href='') 影片
				section#blockSimple
					.simple-underline
						ul#simpleList
							li.simple-list-item
								.simple-title 推薦音樂
								.simple-border
							li.simple-list-item
								.simple-title 收錄音樂
								.simple-border
							li.simple-list-item
								.simple-title 我的歡唱
								.simple-border
							li.simple-list-item
								.simple-title 自訂搜尋
								.simple-border
						ul#simpleContent
							li.simple-content-item
							li.simple-content-item
							li.simple-content-item
								ul#customContent
									li.custom-item
										.tmp-select.ps5_2
											.tmp-select-title 
												span 音樂風格
												.icon-arrow
											.tmp-select-dropscro
												.tmp-select-itembox
													include partials/channel
										.borderbox
											input.custom-text(type='text', placeholder='輸入歌名或歌手名字...')
									li.custom-item
										.custom-left
											input.custom-checkbox(type='checkbox' name='record' id='record')
											label.custom-label(for='record') 歡唱紀錄
						.submit
							.submit-btn.is-type2(style='display: none') 清除
							.submit-btn.is-type1 搜尋
				section#blockList
					input#forKeydown(type='text')
					.block-title.is-result
						span 
							|搜尋結果：
							b (以下結果取得自 4 時 15 分)
							
						.title-num
							span 共30筆
					ul#list
						// 音樂的分類用色對照 :
							is-c1 曲風一
							is-c2 曲風二
							is-c3 曲風三
							is-c4 曲風四
						include partials/item
						li.item.is-empty 沒有符合此搜尋的結果
						include partials/item
				.toTop
					.icon-top
				.loading
					img(src='./images/loading.gif')
			//#content.is-empty
				.content-inner
					.empty 沒有符合此搜尋的結果
					.empty 請於左方重新輸入條件
			// 搜尋「沒有結果」時的介面 ^^^
			// 搜尋「有結果」時的介面 vvv
			#content
				iframe(src='https://test.funday.asia/NewMylessonmobile/MusicBox/musicBox.asp?musicNo=835&rwd')

//- NEW STUDY ####################################
//- 變數未設定值，如「let i」，console 的值為「undefined」 (顯示則會作 NaN)
//- ##############################################